TWILIO_ACCOUNT_SID=<your_account_sid_here>
TWILIO_API_KEY=<your_api_key_here>
TWILIO_API_SECRET=<your_api_secret_here>
TWILIO_APP_SID=<your_app_sid_here>
AZURE_OPENAI_API_KEY=<your_azure_openai_api_key_here>
APP_BASE_URL=<your_app_base_url_here>'
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-5

DATASOURCE_URL=jdbc:sqlserver://localhost:1433;databaseName=dll-callcenter;encrypt=true;trustServerCertificate=true
DATASOURCE_USERNAME=<your_database_username_here : sa>
DATASOURCE_PASSWORD=<your_database_password_here : YourStrong!Passw0rd>