trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: wget https://download.java.net/openjdk/jdk21/ri/openjdk-21+35_linux-x64_bin.tar.gz

- task: JavaToolInstaller@1
  inputs:
    versionSpec: '21'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'LocalDirectory'
    jdkFile: 'openjdk-21+35_linux-x64_bin.tar.gz'
    jdkDestinationDirectory: 'java'
    cleanDestinationDirectory: true

- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    options: '-DskipTests'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'LZ-PREMI0576824 - C&CA Belgium'
    appType: 'webAppLinux'
    appName: 'app-dllpoc'
    package: '$(System.DefaultWorkingDirectory)/**/target/*.jar'
    runtimeStack: 'JAVA|21-java21'